.entry-content {margin-top: 50px;}
.entry-content img {max-width:100%;height: auto;}
a {color: #18a924;}
.entry-content img {max-width:100%;}
.container-fluid {padding:0px 40px;}
a:hover {color: #18a924;opacity: .9;}
.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #18a924;
color: white;
border: 0px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0);
box-shadow: inset 0 1px 1px rgba(244, 222, 187, 1);
}

li.pagenav, li.pagenav ul, li.pagenav ul li {
list-style-type: none;
font-size: small;
font-weight: bold;
}
h1.entry-title {margin-top: 0px;padding-top:5px;font-weight: bold;}
aside#sidebar {background: #e7e7e7;
padding: 20px;
border-radius: 10px;}
#main_container {margin-bottom: 20px;}
hr {margin-top: 30px;
margin-bottom: 30px;
border: 0;
border-top: 10px solid green;
}
body {border-top: #18a924 20px solid;border-bottom: #18a924 20px solid;}
.label-default {background-color: #18a924;}